.btn {
  position: relative;
  cursor: pointer;
  .action {
    position: absolute;
    color: white;
    font-weight: 600;
    transition: 0.4s ease;
    opacity: 100%;
  }
  .action2 {
    visibility: hidden;
    opacity: 0;
    color: white;
    font-weight: 600;
    transition: 0.4s ease;
    transform: translateY(35px);
  }
  .icon {
    color: white;
    padding: 6px;
    background-color: black;
    border-radius: 100%;
    transform: rotate(-45deg);
    transition: 0.6s ease;
  }
  &:hover {
    .action {
      opacity: 0;
      transform: translateY(-35px);
    }
    .action2 {
      visibility: visible;
      opacity: 100%;
      transform: translateY(0px);
    }
    .icon {
      transform: rotate(0deg);
    }
  }
}
