.card:hover {
  background-color: #1e8a8a;
  transition: 0.4s ease;

  .icon,
  .heading,
  .para {
    color: white;
  }
}

.cardHoverImage {
  transition: 0.2s ease;
  transform: scale(1.2);
  translate: -50% -50%;
}
